* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    position: relative;
}

/* h1, h2, p, ul {
    margin: 0;
    padding: 0;
} */

.ba-container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.ba-header {
    background-color: #5474fd;
    position: absolute;
    z-index: 1;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
}

.ba-header__header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.ba-header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.ba-header__item + .ba-header__item::before {
    content: '';
    margin-left: 25px;
}

.ba-header__link {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.ba-header__link:hover {
    opacity: .8;
    transition: .3s;
    cursor: pointer;
}





.ba-bhromaon__bg-png {
    background-image: url(../photo/bg-header.png);
    background-size: cover;
    position: relative;
    height: 100vh;
}

