// header menu *******************************

.ba-header {
    &__absolut-menu {
        background-color: $bgcolor-header;
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 0;
    }

    &__header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
    }

    &__header-logo {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }

    &__item + &__item {
        &::before {
            content: '';
            padding-left: 40px;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        font-family: 'Aleo', serif;
        font-weight: lighter;
        font-size: 1rem;
    
        &:hover {
            opacity: .8;
            transition: .3s;
            cursor: pointer;
        }
        &:active {
            opacity: .8;
            transition: .3s;
        }
        &:focus {
            opacity: .8;
            transition: .3s ;
        }
    }

    @media (max-width: 992px) {
        &__nav {
            &::before {
                position: absolute;
                content: 'MENU';
                bottom: 45px;
                right: 100px;
                width: 10px;
                z-index: 10;
                cursor: pointer;
            }
        }

        &__navbar {
            position: relative;
            width: auto;
            height: auto;
            background-color: transparent;
            transform: translateX(150%);
            opacity: 0;
            padding: 0;
        }

        &__navbar {
            position: fixed;
            background-color: $bgcolor-header;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            padding: 2rem;
            transform: translateX(-100%);
            transition: .4s;
        }

        #toggle-menu {
            &:checked + .ba-header__navbar {
                transform: translateX(0);
            }
        }

        :checked + &__navbar {
            opacity: 1;
            transform: translateX(0);
        }

        &__menu {
            display: flex;
            flex-direction: column;
        }

        &__item + &__item {
            &::before {
                content: '';
                padding-left: 0;
            }
        }

        &__link {
            font-size: 3rem;
        }

        &__item {
            font-size: 3rem;
            opacity: 0;
            transform: translateX(-1em) scale(1.2);
            transition: .5s;

            line-height: 3em;
        }

        :checked + .ba-header__navbar &__item {
            opacity: 1;
            transform: none;
            transition-delay: .5s;
        }

        :checked + .ba-header__navbar &__item {
            &:nth-child(2) {
                transition-delay: .75s;
            }
        }

        :checked + .ba-header__navbar &__item {
            &:nth-child(3) {
                transition-delay: 1s;
            }
        }

        :checked + .ba-header__navbar &__item {
            &:nth-child(4) {
                transition-delay: 1.25s;
            }
        }

        :checked + .ba-header__navbar &__item {
            &:nth-child(5) {
                transition-delay: 1.50s;
            }
        }
    } 

    @media (max-width: 480px) {
        &__item {
            font-size: 2.5rem;
        }

        &__link {
            font-size: 1.5rem;
        }
    }
}

// header info ************************

.ba-bhromaon {
    &__bg-png {
        background-image: url(../photo/bg-header.png);
        background-size: cover;
        position: relative;
        height: 100vh;
    }

    &__info-wrapper {
        padding: 260px 0 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    &__h1-logo {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 3em;
        padding-bottom: 15px;
    }
    &__p-logo {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        text-transform: capitalize;
        text-align: center;
        padding-bottom: 45px;
    }

    &__search {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__search-line {
        width: 500px;
        height: 60px;
        text-align: center;
        text-transform: capitalize;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        border: none;
    }

    &__search-button {
        height: 60px;
        width: 150px;
        border: 1px solid $white;
        background-color: $bgcolor-header;
        color: $white;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;

        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover {
            cursor: pointer;
            opacity: .8;
            transition: .3s;
        }
        &:focus {
            opacity: .8;
            transition: .3s;
        }
        &:active {
            opacity: .8;
            transition: .3s;
        }
    }
    &__span-button {
        padding-right: 10px;
    }

    &__scroll {
        position: absolute;
        bottom: 30%;
        text-align: center;
        text-transform: capitalize;

        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        opacity: .6;

        &:hover {
            cursor: pointer;
            opacity: 1;
            transition: .3s;
        }

        &::after {
            content: '\142F';
        }
    }

    @media (max-width: 480px) {
        &__search-line {
            width: 275px;
        }
    }

    @media (max-width: 415px) {
        &__search-line {
            width: 245px;
        }
    }

    @media (max-width: 375px) {
        &__search-line {
            width: 220px;
        }
    }
}

// about **************************

.ba-about {
    &__bg-png {
        background-image: url(../photo/bg-about.PNG);
        background-size: cover;
    }

    &__about-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__h2-ablogo {
        font-family: 'Aleo', serif;
        font-weight: 400;
        text-transform: capitalize;
        padding-bottom: 45px;
    }

    &__about-text1, &__about-text2 {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
    }

    &__about-text1 {
        padding-bottom: 30px;
    }

    &__about-text2 {
        padding-bottom: 40px;
    }

    &__link-btn {
        width: 220px;
        height: 60px;
        background-color: $btn;
        border: none;
        
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            opacity: .8;
            transition: .3s;
            cursor: pointer;
        }
        &:focus {
            opacity: .8;
            transition: .3s;
        }
        &:active {
            opacity: .8;
            transition: .3s;
        }
    }
    
    &__btn {
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;

        font-family: 'Aleo', serif;
        font-weight: 400;
    }

    &__img1 {
        padding: 115px 125px 5px 65px;
    }

    &__img2 {
        padding-left: 190px;
        padding-bottom: 115px;
    }

    @media (max-width: 768px) {
      &__about-wrapper {
          flex-direction: column-reverse;
      }
      
      &__link-btn {
          margin-bottom: 50px;
      }

      &__img2 {
          padding-bottom: 50px;
      }
    } 

    @media (max-width: 480px) {
        &__img1, &__img2 {
            padding: 0;
            width: 370px;
        }

        &__img1 {
            padding: 25px 0 5px;

        }

        &__img2 {
            padding: 5px 0 25px;
        }

        &__about-images {
            text-align: center;
        }
    }
}

// section icon ***********

.ba-icon {
    &__bg-dark {
        background-color: $bgcolor-section;
    }

    &__link-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        padding: 80px 0 100px;
        &:first-child {
            padding-left: 65px;
        }
        &:last-child {
            padding-right: 65px;
        }
    }

    &__icon-item {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        &:hover {
            opacity: .8;
            transition: .3s;
            cursor: pointer;
        }
        &:focus {
            opacity: .8;
            transition: .3s;
        }
        &:active {
            opacity: .8;
            transition: .3s;
        }
    }

    &__icon-link {
        text-decoration: none;
        text-transform: capitalize;
        color: inherit;
        font-size: 1.5em;

        font-family: 'Aleo', serif;
        font-weight: 400;
        padding-top: 20px;
    }

    &__icon-png {
        width: 60px;
        height: 60px;
    }

    &__pos-absol {
        position: absolute;
        z-index: 1;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: 15%;
    }

    @media (max-width: 480px) {
        &__pos-absol {
            display: none;
        }

        &__link-wrapper {
            flex-direction: column-reverse;
            padding: 0;
            &:first-child {
                padding-bottom: 20px;
            }
        }

        &__icon-item {
            padding: 20px 0 10px;
        }
    }
}

// section TOWN ************************

.ba-town {
    &__bg-png {
        background-image: url(../photo/bg-town.PNG);
        background-size: cover;
    }

    &__town-wrapper {
        padding: 230px 0 100px;
    }

    &__info {
        padding: 45px 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
    }

    &__town-bgcolor {
        max-width: 540px;
        background-color: $bgcolor-section;
    }

    &__name-country {
        padding-bottom: 20px;
        text-transform: capitalize;
        font-size: 1.2em;
    }

    &__name-town {
        padding-bottom: 20px;
        text-transform: uppercase;
        font-size: 1.3em;
    }

    &__town-info {
        padding-bottom: 40px;
        font-size: 14px;
    }
}

// section TOWN-2 ************************

.ba-town {
    &__bg-png2 {
        background-image: url(../photo/bg-town2.PNG);
        background-size: cover;
    }

    &__town-wrapper2 {
        padding: 230px 0 100px;
        display: flex;
        justify-content: flex-end;
    }

    &__info {
        padding: 45px 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
    }

    &__town-bgcolor {
        max-width: 540px;
        background-color: $bgcolor-section;
    }

    &__name-country {
        padding-bottom: 20px;
        text-transform: capitalize;
        font-size: 1.2em;
    }

    &__name-town {
        padding-bottom: 20px;
        text-transform: uppercase;
        font-size: 1.3em;
    }

    &__town-info {
        padding-bottom: 40px;
        font-size: 14px;
    }
}

// section REVIEWS **********************

.ba-reviews {
    &__bg-png {
        background-image: url(../photo/bg-reviews.PNG);
        background-size: cover;
    }

    &__reviews-wrapper {
        text-align: center;
    }

    &__reviews-logo {
        padding-top: 110px;
        padding-bottom: 95px;

        text-transform: capitalize;
        font-family: 'Aleo', serif;
        font-weight: 400;
        font-size: 2em;
    }

    &__info {
        display: flex;
        align-items: center;

        padding-bottom: 200px;
    }

    &__reviews-bgcolor {
        background-color: $bgcolor-reviews;
        max-width: 665px;
        max-height: 285px;

        display: flex;
        align-items: center;
    }

    &__comment {
        padding: 45px 55px;
        text-align: left;

        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
    }

    &__client-name {
        text-transform: uppercase;
        padding-bottom: 30px;
        font-size: 1.3em;
    }

    &__comment-client {
        line-height: 1.5em;
        &::before {
            content: '\1F676';
            color: $btn;
            font-size: 2em;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column-reverse;

        &__client-img {
            width: 665px;
        }
    }
    
    @media (max-width: 480px) {
        &__client-img {
            width: 370px;
            padding-top: 25px;
        }

        &__comment {
            padding: 45px 10px;
        }
    }

    @media (max-width: 415px) {
        &__comment {
            padding: 5px 2px;
        }

        &__client-name {
            text-align: center;
            font-size: 1.2rem;
            padding: 15px 0;
        }
    }

    @media (max-width: 375px) {
        &__comment {
            padding: 5px 2px;
        }

        &__client-name {
            text-align: center;
            font-size: 1.2rem;
            padding: 15px 0;
        }
    }
}

// footer **************************

.ba-footer {
    &__bg-color {
        background-color: $bgfooter;
    }

    &__footer-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__h1-logo {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.5em;
        padding-bottom: 15px;
        padding-top: 115px;
    }
    &__p-logo {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        text-transform: capitalize;
        text-align: center;
        padding-bottom: 45px;
    }

    &__link-icon {
        padding-bottom: 45px;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        font-size: 1.3em;

        &:hover {
            color: $bgcolor-header;
            transition: .3s;
        }
        &:focus {
            color: $bgcolor-header;
            transition: .3s;
        }
        &:active {
            color: $bgcolor-header;    
            transition: .3s;
        }
    }

    &__link + &__link {
        padding-left: 20px;
    }
}