.ba-container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.ba-header {
    background-color: $bgcolor-header1;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // z-index: 1;
    // width: 100%;
    // height: 100px;

    &__menu {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item + &__item {
        &::before {
            content: '';
            margin-left: 40px;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        &:hover {
            cursor: pointer;
            opacity: .8;
            transition: .3s;
        }
    }
    
    &__header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
    }
}

.ba-bhromaon {
    &__bg-png {
        background-image: url(../photo/bg-header.png);
        background-size: cover;
        position: relative;
        height: 100vh;
    }
}